<div class="container" cdkDrag>
  <div class="top-bar" cdkDragHandle>
    <div class="options">
      <div class="close">
        <img src="assets/close.webp" alt="fechar" />
      </div>
      <div class="minimize">
        <img src="assets/minimize.webp" alt="minimizar" />
      </div>
      <div class="maximize">
        <img src="assets/maximize.webp" alt="maximizar" />
      </div>
    </div>
    <div class="title">
      <p>Finder</p>
    </div>
  </div>

  <div class="inner-container">
    <div class="explorer">
      <p class="explorer-title">Sobre</p>
      <ul>
        <li
          (click)="setStatus('Sobre')"
          [ngClass]="status === 'Sobre' ? 'active' : ''"
        >
          <img src="assets/folder-explorer.webp" alt="" />
          <p>Sobre</p>
        </li>
      </ul>
      <p class="explorer-title">Portfolio</p>
      <ul>
        <li
          *ngFor="let project of projects"
          [ngClass]="status === project.name ? 'active' : ''"
          (click)="setStatus(project.name)"
        >
          <img src="assets/folder-explorer.webp" alt="{{ project.name }}" />
          <p>{{ project.name }}</p>
        </li>
      </ul>
      <p class="explorer-title">Contacto</p>
      <ul>
        <li
          (click)="setStatus('Contacto')"
          [ngClass]="status === 'Contacto' ? 'active' : ''"
        >
          <img src="assets/folder-explorer.webp" alt="" />
          <p>Contacto</p>
        </li>
      </ul>
    </div>
    <div class="panel">
      <ng-container *ngFor="let project of projects">
        <app-project-showcase
          *ngIf="status === project.name"
          [project]="project"
        ></app-project-showcase>
      </ng-container>
      <app-about *ngIf="status === 'Sobre'"></app-about>
      <app-contact *ngIf="status === 'Contacto'"></app-contact>
    </div>
  </div>
</div>
