@use "../../../library.scss" as *;

img {
  cursor: pointer;
  height: 70px;
  transition: 0.15s ease-in;
  &:hover {
    transform: scale(1.2);
  }
}

.divider {
  height: 60px;
  width: 1px;
  background-color: grey;
  z-index: 100;
  margin: 0 20px;
}
