<div class="container">
  <div class="header">
    <img src="assets/pic.webp" alt="Pedro Ribeiro" />
    <div class="info">
      <h1>Pedro Ribeiro</h1>
      <p>
        Olá! O meu nome é Pedro e sou Front End Developer. Desde muito novo que
        tinha como objetivo aprender programação, há cerca de ano e meio decidi
        dar os primeiros passos. Para além do desafio o que me atrai para esta
        área é a contínua aprendizagem que este ramo requer. Atualmente estou a
        aprender Back End com vista a tornar-me Full Stack Developer.
      </p>
    </div>
  </div>
  <div class="display">
    <img [src]="display.pic" [alt]="display.pic" *ngIf="display" />
    <p>{{ display ? display.name : "" }}</p>
  </div>
  <div class="skills-grid">
    <div
      class="skill"
      *ngFor="let skill of technologies"
      (mouseenter)="setDisplay(skill.name, skill.pic)"
      (mouseleave)="setDisplay()"
    >
      <img [src]="skill.pic" [alt]="skill.name" />
      <div class="level-bg">
        <div class="level">
          <div class="inner" [style.width.%]="skill.skill"></div>
          <div class="cover"></div>
        </div>
      </div>
    </div>
  </div>
</div>
