@use "../../../library.scss" as *;

:host {
  @include flex(center, center);
  height: 100%;
  width: 100%;
}

.container {
  @include flex(space-around, center);
  flex-direction: column;
  height: 90%;
  width: 100%;
  position: relative;
}

.header {
  @include flex(space-between, center);
  width: 85%;
  height: 45%;

  img {
    height: 200px;
    border-radius: 1000px;
  }
}

.info {
  @include flex(center, flex-start);
  flex-direction: column;
  width: 60%;
  height: 100%;

  h1 {
    margin: 0;
    margin-bottom: 30px;
  }

  p {
    margin: 0;
  }
}

.skills-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  width: 95%;
  height: 40%;
}

.skill {
  @include flex(center, center);
  gap: 10px;
  img {
    height: 40px;
  }
}

.level-bg {
  @include flex(center, center);
  background-color: white;
  border: 1px solid black;
  border-radius: 20px;
  width: 250px;
  height: 30px;
}

.level {
  width: 95%;
  height: 20px;
  position: relative;
  overflow: hidden;
}

.inner {
  height: 100%;
  width: 0%;
  border-radius: 20px;
  background-color: #077bfa;
  transition: 0.2s ease-in;
}

.cover {
  position: absolute;
  background-color: white;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  animation: out 1s linear forwards;
  z-index: 1000;
}

.display {
  @include flex(center, center);
  gap: 10px;
  margin: 0;
  font-size: 1.5em;
  height: 30px;
  position: relative;

  img {
    height: 30px;
  }
}

@keyframes out {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(250px);
  }
}

@media (max-width: 700px) {
  .container {
    overflow-y: scroll;
  }
  .header {
    flex-direction: column;
  }

  .info {
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-top: 20px;
  }

  .skills-grid {
    @include flex(center, center);
    flex-direction: column;
  }
}

@media (max-width: 500px) {
  :host {
    align-items: flex-start;
  }

  .container {
    overflow-y: scroll;
    justify-content: flex-start;
    height: 100%;
  }
  .header {
    flex-direction: column;
    margin-top: 20px;
    width: 100%;
    margin-bottom: 60px;
  }

  .info {
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;

    p {
      text-align: center;
    }
  }

  .skills-grid {
    @include flex(center, center);
    flex-direction: column;
    gap: 12px;
    margin-bottom: 100px;
  }

  .display {
    display: none;
  }
  h1 {
    margin-bottom: 12px !important;
  }
}
