<div class="container">
  <div class="header">
    <img src="assets/pic.webp" alt="Pedro Ribeiro" />
    <div class="info">
      <h1>Pedro Ribeiro</h1>
      <p class="local">Viana Do Castelo - Portugal</p>

      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam corrupti
        ducimus maiores tenetur vitae praesentium aperiam, voluptas dolores
        asperiores, ipsa recusandae nulla odio explicabo. Vero deleniti mollitia
        maxime corrupti eum.
      </p>
    </div>
  </div>
  <div class="display">
    <img [src]="display.pic" [alt]="display.pic" *ngIf="display" />
    <p>{{ display ? display.name : "" }}</p>
  </div>
  <div class="skills-grid">
    <div
      class="skill"
      *ngFor="let skill of technologies"
      (mouseenter)="setDisplay(skill.name, skill.pic)"
      (mouseleave)="setDisplay()"
    >
      <img [src]="skill.pic" [alt]="skill.name" />
      <div class="level-bg">
        <div class="level">
          <div class="inner" [style.width.%]="skill.skill"></div>
          <div class="cover"></div>
        </div>
      </div>
    </div>
  </div>
</div>
