<div class="container" cdkDrag>
  <div class="top-bar" cdkDragHandle>
    <div class="options">
      <div class="close">
        <img src="assets/close.png" alt="fechar" />
      </div>
      <div class="minimize">
        <img src="assets/minimize.png" alt="minimizar" />
      </div>
    </div>
    <p class="title">Sobre</p>
  </div>

  <div class="info-container">
    <img src="assets/pic.jpg" alt="Pedro Ribeiro" />
    <p class="name">Pedro Ribeiro</p>
    <p class="local">Viana Do Castelo - Portugal</p>
  </div>
</div>
