@use "../../../library.scss" as *;

:host {
  width: 100%;
  flex-grow: 1;
}

.container {
  @include flex(flex-start, center);
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: white;

  img {
    height: 200px;
    border-radius: 1000px;
    margin-top: 50px;
  }
}

.name {
  font-size: 2em;
}
