<div class="container" cdkDrag>
  <div class="top-bar" cdkDragHandle>
    <div class="options">
      <div class="close">
        <img src="assets/close.png" alt="fechar" />
      </div>
      <div class="minimize">
        <img src="assets/minimize.png" alt="minimizar" />
      </div>
      <div class="maximize">
        <img src="assets/maximize.png" alt="maximizar" />
      </div>
    </div>
    <div class="title">
      <p>Portfolio</p>
    </div>
  </div>

  <div class="inner-container">
    <div class="explorer">
      <p class="explorer-title">Projects</p>
      <ul>
        <li>
          <img src="assets/folder-explorer.png" alt="Movie Finder" />
          <p>Movie Finder</p>
        </li>
        <li>
          <img src="assets/folder-explorer.png" alt="E-Commerce Store" />
          <p>E-commerce Store</p>
        </li>
        <li>
          <img src="assets/folder-explorer.png" alt="Message App" />
          <p>Message App</p>
        </li>
      </ul>
    </div>
    <div class="panel"></div>
  </div>
</div>
