<div class="container" cdkDrag>
  <div class="top-bar" cdkDragHandle>
    <div class="options">
      <div class="close">
        <img src="assets/close.png" alt="fechar" />
      </div>
      <div class="minimize">
        <img src="assets/minimize.png" alt="minimizar" />
      </div>
      <div class="maximize">
        <img src="assets/maximize.png" alt="maximizar" />
      </div>
    </div>
    <div class="title">
      <p>Portfolio</p>
    </div>
  </div>

  <div class="inner-container">
    <div class="transparent"></div>
    <div class="white"></div>
  </div>
</div>
