@use "../../library.scss" as *;

.bg {
  z-index: -10;
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
  object-fit: cover;
}

.window-container {
  @include flex(center, center);
  height: 100vh;
  width: 100vw;
  margin: auto;
}
