<app-top-bar
  (windowStatusEmitter)="setWindowStatus($event)"
  (notificationEmitter)="setNotification($event)"
></app-top-bar>
<app-search
  *ngIf="status === 'search'"
  (windowEmitter)="setStatus($event)"
></app-search>
<app-dock></app-dock>

<div class="window-container" *ngIf="status === 'window'">
  <app-main-window
    (windowEmitter)="setStatus($event)"
    (windowStatusEmitter)="setWindowStatus($event)"
    (notificationEmitter)="setNotification($event)"
    [status]="windowStatus"
  ></app-main-window>
</div>
<div
  [ngClass]="
    notification ? 'email-notification' : 'email-notification-inactive'
  "
>
  <img src="assets/email.webp" alt="email" />
  <div class="text">
    <p>Email Copiado!</p>
    <p>ribeiro-1997@hotmail.com</p>
  </div>
</div>
<img src="assets/bg.webp" alt="background" class="bg" />
