@font-face {
  font-family: "San Francisco";
  src: local("SF-Pro-Text-Regular"),
    url(./assets/fonts/SF-Pro-Text-Regular.otf) format("opentype");
}

body,
html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "San Francisco", sans-serif;
}
