<div class="container">
  <div class="box">
    <img src="assets/search.webp" alt="search" class="search" />
    <p class="query">Front End Developer Viana Do Castelo</p>
  </div>
  <div class="results" (click)="openWindow()">
    <img src="assets/pic.webp" class="pic" />
    <div class="text">
      <p>Pedro Ribeiro - Web Developer</p>
      <p>HTML, CSS, JS, Typescript, ReactJS, Angular, ...</p>
    </div>
    <div class="click">
      <img src="assets/click.webp" alt="click here" />
    </div>
  </div>
</div>
