<div class="container">
  <div class="left">
    <img src="assets/logo.webp" alt="logo" class="logo" />
    <div class="menu">
      <p>Finder</p>
      <p>Portfolio</p>
      <p>Sobre</p>
      <p>Contacto</p>
    </div>
  </div>

  <div class="right">
    <div class="icons">
      <img src="assets/battery.webp" alt="battery" />
      <img src="assets/wifi.webp" alt="wifi" />
      <img src="assets/search.webp" alt="search" />
      <img src="assets/control-center.webp" alt="control center" />
      <img src="assets/siri.webp" alt="siri" />
    </div>
    <div class="time">
      <p>{{ time[0] }} {{ time[1] }} {{ time[2] }}</p>
      <p>{{ time[3] }}</p>
    </div>
  </div>
</div>
